body {
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(204, 174, 133);
}

#main-header {
    text-align: center; 
    text-decoration: none;
    padding-inline: 5px;
    padding-bottom: 10px;
    font-weight: normal;
}

.generic-horizontal-line {
    border: none; /* Remove default border */
    border-top: 2px solid black; /* Add a custom border */
    height: 5px; /* Adjust the height of the line */
    margin: 0px 0; /* Optional margin adjustment */
  }
  
.format-content-block h5 {
    display: inline;
    margin-right: 10px;
}

.format-content-block h2 {
    text-align: left; 
    font-weight:500;
    padding-inline:2px;
    padding-bottom: 5px;
}

.format-content-block p{
    display: inline;
    margin: 0px;
}

.set-weight-normal {
    font-weight: normal;
}

.set-underline-text {
    text-decoration: underline 2px;
}